*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #dce1e8;
    color: #333;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.main{
    background: rgb(233, 233, 240);
    width: 100%;
    max-width: 1000px;
    display: flex;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.1);
}
.logo{
   width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.card{
    width: 60%;
    background: rgb(248, 244, 244);
    padding: 40px;
}
.card h2{
    color: #333;
}
.form-group{
    margin-bottom: 18px;
}
input{
    width: 100%;
    padding: 12px;
    border: 1px solid #1e1b1b;
    border-radius: 8px;
    font-size: 16px;
}
input:focus{
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0,123,255,0.5);
}
.btn-primary{
    background: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 22px;
    width: 100%;
    transition: 0.3s ease;
}
.btn-register{
    background: #e6f1e9;
    color: #007bff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 22px;
    width: 100%;
    transition: 0.3s ease;
    margin-top: 8px;
}
.btn-forgot{
    background: #fff;
    color: #007bff;
    border: 1px solid #007bff;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 22px;
    width: 100%;
    transition: 0.3s ease;
    margin-top: 8px;
}